.h1{
   text-align: center;
   color:#777;
   margin-top:20px
}
.img {
    transform-origin:center;
    object-fit:cover;
    display:flex;
    
    align-items: center;
    cursor: pointer;
    transition: ease-in 0.5s;
    filter: brightness(100%);
    
  
  
    
    
    
  }
  .img:hover {
    transform: scale(1.1);
    filter: brightness(130%);
  }
.title{
    color:#777;
    text-align: center;
    margin-top: 3rem;
    
}
.price{
    margin-top:1rem;
    text-align: center;
}